
/*左侧导航开始*/
.left_nav {
  padding-top: 45px;
  width: 90px;
  height: 100%;
  position:absolute;
}
.left_nav li{
  height:35px;
  width: 100%;
  line-height:35px;
  text-align:center;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background-color: #fff3c4;
  float:left
}
.left_nav li.now{
  background-color: #fff;
  border-bottom:none;
  border-right:none;
}
.left_nav li span{
  color:#666;
  font-size:14px;
}

/*右侧商品*/
.right_nav{
  margin-left:90px;
  padding:45px 10px 0 10px;
}
.right_nav li{
  width: 33.33%;
  float:left
}
.right_nav li img{
  width: 100%;
  display:block;
  margin:0 auto;
}