.search_header{
  height: 34px;
  padding:55px 10px 10px 10px;
  margin-bottom:10px;
}
.search_text{
  width: 100%;
  line-height:34px;
  height:34px;
  padding-left:10px;
  font-size:12px;
  color:#666;
  border:1px solid #690;
  border-radius:5px;
  position:relative;
  
}
.btn_search{
  height:38px;
  position:absolute;
  top:56px;
  right:10px;
  text-align:center;
  line-height:34px;
  border-radius:0 5px 5px 0;
  padding:0 12px;
}

/*搜索历史头部开始*/
.history_header{
  margin-top:45px;
  padding:10px;
}
.history_header span{
  font-size:12px;
  color:#666;
  dispaly:block;
  height:14px;
  line-height:14px;
  text-align:center;
}

/*历史内容*/
.history_content{
  margin-left:10px;
  margin-right:10px;
  border:1px dashed #ccc;
  margin-top:10px;
}
.history_content.now{
  border:1px solid transparent;
}
.history_content p{
  padding:10px;
}
.history_content li{
  height:30px;
  font-size: 12px;
  text-align:center;
  line-height:30px;
  border-bottom:1px dashed #cccccc;
  padding:0 10px 0 10px;
}
.history_content li:last-child{
  border:none;
}
.history_content li a{
  color:#007aff;
}
.history_content li span{
  text-align:center;
  line-height:30px;
}

